*{
    margin: 0;
    padding: 0;
}
/* +++++++++++++++++++++++++ NAV BAR +++++++++++++++++++++++++++++++++ */
.mainNavBar{
 background-color: #55AD9B;
 height: 70px;
 display: flex;
 align-items: center;
 justify-content: space-around;
 font-style: italic;

}
.space{
    width: 100%;
}
.mainLogo{
    font-size: 10px;
    font-family: cursive;
    margin-left: 30px;
    font-weight: lighter;
    color: #F1F8E8;
}
.rightOfNavBar{
    display: flex;
    margin-right: 30px;
}
.option{
    margin: 20px;
    color: #D8EFD3;
    font-weight: 600;
    font-size: 1rem;
}
/* +++++++++++++++++++++++++++++ BODY ++++++++++++++++++++++++++++ */
.contentBar{
    height: 400px;
    background-color: #F1F8E8;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.welcome{
    background-color: #F1F8E8;
    height: 250px;
    width: 400px;
    color: #55AD9B;
    font-size: 35px;
    font-weight: 900;
    text-align: left;
    display: flex;
    align-items: center;
}
.caption{
    background-color: #D8EFD3;
    height: 250px;
    width: 400px;
    border-radius: 75px 0px 75px 0px;
    display: flex;
    align-items: center;
}
.caption p{
    padding: 50px;
    color: #55AD9B;
}
/* ++++++++++++++++ */
#first{
    height: 400px;
    background-color: #D8EFD3;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
#sec{
    height: 400px;
    background-color: #F1F8E8;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
#firsthead{
    background-color: #D8EFD3;
    justify-content: flex-end;
}
#firstcap{
    background-color: #F1F8E8;
    border-radius: 0px 75px 0px 75px ;
}
/*++++++++++ SKILLS ++++++++ */
.caption li{
    color: #55AD9B;
    position: relative;
    left: 75px;
}
.caption ul{
    
}

/* +++++++++++++++++++ END ++++++++++++++++++++++++ */

.lastLine{
    background-color: #55AD9B;
    height: 50px;
    color: #F1F8E8;
    display: flex;
    justify-content: center;
    align-items: center;
    font-style: italic;
    font-weight: 700;
}
/* +++++++++++++ Quallification +++++++++++++++ */
.qualification_details{
    display: flex;
    justify-content: center;
}
.qualification_details li{
    font-size: .8rem;
}
/* +++++++++++++ Animations +++++++++++++++ */

#welcome_animation:hover{
    
}